body {

}

.service_heading {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: black;

}

.service_content {
    text-align: center;
    margin: 20px;
    color: black;

}

.service-row {
    text-align: center;
    padding: 6px;
    background-color: #2980B9;
    color: white;
}

.list-group {
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 4px;
    border: 1px solid rgb(90, 90, 90);
    text-align: left;
}

.list-group li:hover {
    background-color: #D5D8DC;
    cursor: pointer;
}

.service-link {
    color: blue;
    font-size: 20px;
    font-style: normal;
    font-family: "sans-serif";

}

.nyeusi {
    color: black;
}

.list-group-item a:hover {
    text-decoration: none;
}